<div class="header row-fluid">
  <div class="logo"> <a href="#"><span>Rise@Work</span></a> </div>
  <div class="top_right">
    <ul class="nav nav_menu">
      <li class="dropdown"> <a class="dropdown-toggle administrator" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
        <div class="title"><span class="name">More</span><span class="subtitle">Information about Rise@Work</span></div>
        <span ><img src="images/riseLogo.png"></span></a>
        <div class="nav-collapse collapse">
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a  data-toggle="modal" href="#aboutModal"><i class=" icon-info-sign"></i>About Us</a></li>
            <li><a  data-toggle="modal" href="#registerModal" ><i class=" icon-pencil"></i>Sign up</a></li>
            <li><a  href="downloads/RAW-Help-Login.pdf"><i class="icon-question-sign"></i>Help</a></li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="hidding-nav">
      <a class="btn" data-toggle="collapse" data-target=".nav-collapse" id="noBkgdShdw"><p style=" padding-top: 22px; margin-right: -5px;" >
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="35.375px" height="27.062px" viewBox="0 0 35.375 27.062" enable-background="new 0 0 35.375 27.062" xml:space="preserve">
          <line fill="none" stroke="#434343" stroke-width="2" stroke-miterlimit="10" x1="0.438" y1="1.263" x2="35.003" y2="1.263"/>
            <line fill="none" stroke="#434343" stroke-width="2" stroke-miterlimit="10" x1="0.438" y1="13.521" x2="35.003" y2="13.521"/>
              <line fill="none" stroke="#434343" stroke-width="2" stroke-miterlimit="10" x1="0.438" y1="25.779" x2="35.003" y2="25.779"/>
              </svg></p>
            </a>
          </div>
        </div>
        
        <div class="nav-collapse collapse">
          <div class="hidding-nav">
            <ul class="nav">
              <li><a  data-toggle="modal" href="#aboutModal"><i class=" icon-info-sign"></i>About Us</a></li>
              <!--<li><a  data-toggle="modal" href="#registerModal" ><i class=" icon-pencil"></i>Sign up</a></li> -->
              <li><a  href="downloads/RAW-Help-Login.pdf"><i class="icon-question-sign"></i>Help</a></li>
            </ul>
          </div>
          </div><!--/.nav-collapse -->
          <!-- End top-right -->
        </div>